body {
         background-image: url(owner3.JPEG);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         background-size: cover;
}
h2 {
     background - color : pink ;}
